@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: #12012b;
    margin: 0;
    padding: 0;
    color: white;
}

.content{
    font-family: 'Press Start 2P', cursive;
    line-height: 2rem;
  }
  .navcontent{
    font-family: 'Press Start 2P',cursive;
    font-size: 10px;
  }


  ::-webkit-scrollbar{
    width: 0px;
  }

  
  .parallax-bg > div {
    background-position: center center !important;
  }
  
  @media only screen and (max-width: 768px) {
    .parallax-bg > div {
      background-position: center center !important;
    }
    .navcontent{
      font-size: 8px;
    }
  }
   */



   body {
     font-family: 'VT323', monospace;
     background-color: #000;
     color: #00ff00;
     margin: 0;
     padding: 0;
   }
   
   /* Custom scrollbar for retro feel */
   ::-webkit-scrollbar {
     width: 0px;}